In [121]:
#Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string
%matplotlib inline

#Turn off scientific notation in Pandas
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Import data
bom_gross = pd.read_csv('Data/Zipped_Data/bom.movie_gross.csv.gz', compression = 'gzip')
imbd_name = pd.read_csv('Data/Zipped_Data/imdb.name.basics.csv.gz', compression = 'gzip')
imbd_akas = pd.read_csv('Data/Zipped_Data/imdb.title.akas.csv.gz', compression = 'gzip')
imbd_basics = pd.read_csv('Data/Zipped_Data/imdb.title.basics.csv.gz', compression = 'gzip')
imbd_crews = pd.read_csv('Data/Zipped_Data/imdb.title.crew.csv.gz', compression = 'gzip')
imbd_principals = pd.read_csv('Data/Zipped_Data/imdb.title.principals.csv.gz', compression = 'gzip')
imbd_ratings = pd.read_csv('Data/Zipped_Data/imdb.title.ratings.csv.gz', compression = 'gzip')
rt_info = pd.read_csv('Data/Zipped_Data/rt.movie_info.tsv.gz', delimiter='\t', compression = 'gzip')
rt_reviews = pd.read_csv('Data/Zipped_Data/rt.reviews.tsv.gz', delimiter='\t', compression = 'gzip', encoding='latin-1')
tmbd = pd.read_csv('Data/Zipped_Data/tmdb.movies.csv.gz', compression = 'gzip')
tn_budget = pd.read_csv('Data/Zipped_Data/tn.movie_budgets.csv.gz', compression = 'gzip')

In [ ]:
#Determined which title_ids have more than one original title listed. 
#Created a new dataset consisting of these title_ids, and dropped these title_ids from the main dataset. 
#Deleted duplicate title_ids within new dataset.
originals = (imbd_akas.loc[imbd_akas.is_original_title == 1])
original_repeats = list(originals.loc[originals['title_id'].duplicated() == True].title_id.unique())
or_duplicate = imbd_akas.loc[imbd_akas.title_id.isin(original_repeats)]
imbd_akas = imbd_akas.loc[imbd_akas.title_id.isin(original_repeats) == False]
or_duplicate = or_duplicate.loc[or_duplicate.is_original_title == 1]
or_duplicate = or_duplicate.loc[or_duplicate.title_id.duplicated() == False]

#Determined which title_ids have an original title listed. 
#Created a new dataset consisting of these title_ids, and dropped these title_ids from the main dataset. 
#Deleted duplicate title_ids within new dataset.
original_nrp = list(imbd_akas.loc[imbd_akas.is_original_title == 1].title_id.unique())
or_nodup = imbd_akas.loc[imbd_akas.title_id.isin(original_nrp)]
imbd_akas = imbd_akas.loc[imbd_akas.title_id.isin(original_nrp) == False]
or_nodup = or_nodup.loc[or_nodup.is_original_title == 1]

#Determined which title_ids have more than one title listed. Created a new dataset consisting of
#title_ids without more than one title listed, and dropped these title_ids from the main dataset.
non_or_rp = list(imbd_akas.loc[imbd_akas.title_id.duplicated()].title_id.unique())
non_or_nrp = imbd_akas.loc[imbd_akas.title_id.isin(non_or_rp) == False]
imbd_akas = imbd_akas.loc[imbd_akas.title_id.isin(non_or_rp)]

#Determined which title_ids have a row with a region listed as "US" or the language listed as "en".
#Created a new dataset consisting of these title_ids, and dropped these title_ids from the main dataset.
#In the new dataset, deleted rows that weren't listed either as "US" or "en", and then deleted duplicates.
us_or_en = list(imbd_akas.loc[(imbd_akas.region == "US") | (imbd_akas.language == "en")].title_id.unique())
us_en = imbd_akas.loc[imbd_akas.title_id.isin(us_or_en)]
imbd_akas = imbd_akas.loc[imbd_akas.title_id.isin(us_or_en) == False]
us_en = us_en.loc[(us_en.region == "US") | (us_en.language == "en")]
us_en = us_en.loc[us_en.title_id.duplicated() == False]

#Created a new dataset that is equal to the remaining original dataset, but with duplicates removed.
no_us_en = imbd_akas.loc[imbd_akas.title_id.duplicated() == False]

#Concated the sliced datafiles
imbd_akas_dfs = [or_duplicate, or_nodup, non_or_nrp, us_en, no_us_en]
imbd_akas_cleaned = pd.concat(imbd_akas_dfs)

#Dropped unnecessary columns
imbd_akas_cleaned = imbd_akas_cleaned.drop(columns = ['ordering', 'region', 'language', 'types', 
                                                      'attributes', 'is_original_title'])

#Removed spaces, capitalization and punctuation from title. emove potentially extraneous words.
imbd_akas_cleaned.title = imbd_akas_cleaned.title.str.strip()
imbd_akas_cleaned.title = imbd_akas_cleaned.title.apply(lambda x: x.lower())
imbd_akas_cleaned.title = imbd_akas_cleaned.title.apply(lambda x: x.translate(str.maketrans('', '', '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~')))
imbd_akas_cleaned.title = imbd_akas_cleaned.title.replace(['the', 'and'], value='', regex=True)

In [58]:
#Remove 'studio' column. Set 'foreign_gross' to float and 'year' to string
bom_gross.drop(columns = ['studio'])
bom_gross['foreign_gross'] = pd.to_numeric(bom_gross.foreign_gross, downcast = 'float', errors = 'coerce')
bom_gross['year'] = bom_gross['year'].astype(str)

#Remove years and right whitespace from titles. Remove potentially extraneous words.
years = ['\(2010\)', "\(2011\)", 
         "\(2012\)", "\(2013\)", "\(2014\)", 
         "\(2015\)", "\(2016\)", "\(2017\)", "\(2018\)"]
bom_gross.title = bom_gross.title.replace(years, value='', regex=True)
bom_gross.title = bom_gross.title.str.strip()
bom_gross.title = bom_gross.title.apply(lambda x: x.lower())
bom_gross.title = bom_gross.title.apply(lambda x: x.translate(str.maketrans('', '', '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~')))
bom_gross.title = bom_gross.title.replace(['the', 'and'], value='', regex=True)

In [59]:
bom_gross['domestic_gross'] = bom_gross.domestic_gross.fillna(value=bom_gross.domestic_gross.median())
bom_gross['foreign_gross'] = bom_gross.foreign_gross.fillna(value=bom_gross.foreign_gross.median())

In [60]:
bom_20 = bom_gross.loc[(bom_gross.domestic_gross >= bom_gross.domestic_gross.quantile(.8)) 
             | (bom_gross.foreign_gross >= bom_gross.foreign_gross.quantile(.8))]

In [ ]:
merged_df = pd.merge(bom_20, imbd_akas_cleaned, on = "title", how = "left")

In [ ]:
merged_df.head()

In [ ]:
title_ids = list(merged_df.title_id.unique())

In [61]:
#Drop "birth_year" and "death_year" columns. Fill in null values with 'null'.
imbd_name = imbd_name.drop(columns = ['birth_year', 'death_year', 'primary_profession', 'known_for_titles'])
#imbd_name = imbd_name.fillna('null')

#Turn 'primary_profession' and 'known_for_titles' from string to list
#imbd_name['primary_profession'] = imbd_name['primary_profession'].str.split(',')
#imbd_name['known_for_titles'] = imbd_name['known_for_titles'].str.split(',')

In [ ]:
imbd_name = imbd_name.loc[(imbd_name.primary_profession.str.contains('actress') == True) 
                          | (imbd_name.primary_profession.str.contains('actor') == True ) 
                          | (imbd_name.primary_profession.str.contains('director') == True) 
                          | (imbd_name.primary_profession.str.contains('writer') == True)]

In [62]:
imbd_basics.primary_title = imbd_basics.primary_title.str.strip()
imbd_basics.primary_title = imbd_basics.primary_title.apply(lambda x: x.lower())
imbd_basics.primary_title = imbd_basics.primary_title.apply(lambda x: x.translate(str.maketrans('', '', '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~')))
imbd_basics.primary_title = imbd_basics.primary_title.replace(['the', 'and'], value='', regex=True)

In [63]:
imbd_basics = imbd_basics.drop(columns = ['original_title', 'runtime_minutes'])

In [64]:
imbd_basics = imbd_basics.rename(columns = {'primary_title': 'title', 'start_year': 'year'})

In [65]:
imbd_basics['year'] = imbd_basics['year'].astype(str)

In [66]:
merged_df = pd.merge(bom_20, imbd_basics, on = ["title", 'year'], how = "inner")

In [67]:
merged_df.head()

,title,studio,domestic_gross,foreign_gross,year,tconst,genres
0,toy story 3,BV,415000000.00,652000000.00,2010,tt0435761,"Adventure,Animation,Comedy"
1,alice in wonderl,BV,334200000.00,691299968.00,2010,tt1014759,"Adventure,Family,Fantasy"
2,alice in wonderl,BV,334200000.00,691299968.00,2010,tt2049386,"Fantasy,Musical"
3,harry potter deathly hallows part 1,WB,296000000.00,664300032.00,2010,tt0926084,"Adventure,Fantasy,Mystery"
4,inception,WB,292600000.00,535700000.00,2010,tt1375666,"Action,Adventure,Sci-Fi"

In [35]:
list(merged_df.genres)

['Adventure,Animation,Comedy',
 'Adventure,Family,Fantasy',
 'Fantasy,Musical',
 'Adventure,Fantasy,Mystery',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Adventure,Drama,Fantasy',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Animation,Comedy,Family',
 'Action,Adventure,Animation',
 'Action,Adventure,Fantasy',
 'Adventure,Family,Fantasy',
 'Biography,Drama,History',
 'Action,Adventure,Fantasy',
 'Action,Drama,Family',
 'Action,Adventure,Fantasy',
 'Drama,Thriller',
 'Action,Animation,Comedy',
 'Action,Adventure,Drama',
 'Action,Adventure,Family',
 'Comedy,Romance',
 'Action,Adventure,Horror',
 'Mystery,Thriller',
 'Action,Mystery,Thriller',
 'Comedy,Drama,Romance',
 'Action,Adventure,Thriller',
 'Action,Adventure,Thriller',
 'Comedy',
 'Action,Adventure,Comedy',
 'Adventure,Drama,Western',
 'Adventure,Comedy,Family',
 'Adventure,Family,Fantasy',
 'Biography,Drama',
 'Comedy,Romance',
 'Action,Adventure,Family',
 'Adventure,Comedy',
 'Drama,Romance',
 'Adventure,Animation,Comedy',
 'Action,Comedy,Crime',
 'Horror',
 'Action,Adventure,Thriller',
 'Action,Comedy,Documentary',
 'Action,Comedy,Crime',
 'Action,Thriller',
 'Drama,Music,Romance',
 'Action,Adventure,Drama',
 'Crime,Drama,Thriller',
 'Comedy,Crime,Romance',
 'Action,Adventure,Animation',
 'Drama,Fantasy,Horror',
 'Action,Comedy,Romance',
 nan,
 'Drama',
 'Biography,Drama,Sport',
 'Action,Adventure,Sci-Fi',
 'Crime,Drama,Horror',
 'Drama,Romance,War',
 'Action,Comedy,Family',
 'Comedy,Family,Fantasy',
 'Comedy,Drama,Romance',
 'Drama,Fantasy,Romance',
 'Comedy,Drama,Romance',
 'Action,Comedy,Romance',
 'Action,Comedy',
 'Action,Drama,Thriller',
 'Comedy,Family,Fantasy',
 'Adventure,Comedy,Music',
 'Drama,Music,Musical',
 'Drama',
 'Drama,Music,Romance',
 'Comedy',
 'Comedy,Family',
 'Comedy,Horror',
 'Crime,Drama,Mystery',
 'Adventure,Comedy,Drama',
 'Comedy,Drama,Family',
 'Comedy,Drama,Romance',
 'Action,Crime,Thriller',
 'Action,Fantasy,Horror',
 'Drama,Horror,Thriller',
 'Comedy,Sci-Fi',
 'Biography,Drama,Family',
 'Action,Comedy,Crime',
 'Comedy',
 'Adventure,Drama,Fantasy',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Fantasy',
 'Action,Adventure,Thriller',
 'Action,Adventure,Animation',
 'Action,Crime,Thriller',
 'Comedy,Mystery',
 'Adventure,Animation,Comedy',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Animation',
 'Action,Adventure,Crime',
 'Adventure,Animation,Comedy',
 'Action,Drama,Sci-Fi',
 'Action,Adventure,Fantasy',
 'Action,Adventure,Animation',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Action,Drama,Family',
 'Comedy,Romance',
 'Mystery,Sci-Fi,Thriller',
 'Adventure,Animation,Comedy',
 'Crime,Drama,Mystery',
 'Action,Comedy,Crime',
 'Action,Drama,Fantasy',
 'Action,Adventure,Sci-Fi',
 'Drama',
 'Comedy,Romance',
 'Comedy,Romance',
 'Action,Sci-Fi',
 'Comedy,Crime',
 'Horror,Mystery,Thriller',
 'Adventure,Animation,Comedy',
 'Comedy,Family,Fantasy',
 'Adventure,Drama,Family',
 'Adventure,Animation,Comedy',
 'Drama,History,War',
 'Comedy,Drama',
 'Action,Sci-Fi,Thriller',
 'Action,Crime,Drama',
 'Comedy,Family,Romance',
 'Adventure,Comedy,Family',
 'Mystery,Sci-Fi,Thriller',
 'Action,Adventure,Comedy',
 'Horror',
 'Action,Comedy,Crime',
 'Comedy,Fantasy,Romance',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Sci-Fi',
 'Comedy',
 'Comedy,Romance',
 'Comedy,Romance',
 'Adventure,Animation,Comedy',
 'Action,Drama,Sci-Fi',
 'Comedy,Drama,Romance',
 'Comedy,Romance',
 'Action,Drama,Thriller',
 'Comedy,Drama,Romance',
 'Thriller',
 'Action,Adventure,Romance',
 'Action,Mystery,Thriller',
 'Romance,Sci-Fi,Thriller',
 'Comedy,Drama,Family',
 'Drama,Romance',
 'Biography,Drama',
 'Biography,Drama,Sport',
 'Adventure,Drama,Thriller',
 'Documentary,Music',
 'Adventure,Comedy,Sci-Fi',
 'Horror,Mystery',
 'Drama,Horror,Mystery',
 'Drama,Family',
 'Action,Adventure,Fantasy',
 'Action,Adventure,Fantasy',
 'Fantasy,Horror,Mystery',
 'Comedy,Romance',
 'Action,Mystery,Thriller',
 'Horror,Thriller',
 'Drama,Mystery,Thriller',
 'Action,Adventure,Fantasy',
 'Drama,Thriller',
 'Crime,Drama,Thriller',
 'Comedy,Family',
 'Comedy,Drama',
 'Action,Drama,Thriller',
 'Comedy,Drama,Music',
 'Drama,History',
 'Biography,Drama,Family',
 'Action,Adventure,Thriller',
 'Action,Thriller',
 'Adventure,Family,Fantasy',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Sci-Fi',
 'Adventure,Drama,Fantasy',
 'Comedy,Fantasy',
 'Adventure,Animation,Comedy',
 'Adventure,Animation,Comedy',
 'Drama,Western',
 'Adventure,Mystery,Sci-Fi',
 'Action,Adventure,Drama',
 'Action,Thriller',
 'Animation,Comedy,Family',
 'Action,Adventure,Comedy',
 'Action,Adventure,Thriller',
 'Action,Adventure,Animation',
 'Action,Adventure,Fantasy',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Thriller',
 'Biography,Drama,History',
 'Comedy,Fantasy,Horror',
 'Action,Horror,Sci-Fi',
 'Comedy,Drama,Romance',
 'Comedy',
 'Biography,Drama,Thriller',
 'Action,Crime,Thriller',
 'Action,Adventure,Crime',
 'Action,Comedy,Crime',
 'Action,Adventure,Mystery',
 'Drama,Romance',
 'Adventure,Comedy,Drama',
 'Drama,History,Thriller',
 'Comedy',
 'Action,Crime,Drama',
 'Comedy,Drama',
 'Drama,Thriller',
 'Action,Fantasy,Horror',
 'Action,Comedy,Romance',
 'Horror,Mystery,Thriller',
 'Drama,Music,Romance',
 'Drama,Thriller',
 'Action,Drama,Mystery',
 'Drama,Fantasy,Horror',
 'Drama,Sci-Fi,Thriller',
 'Adventure,Animation,Comedy',
 'Comedy,Family',
 'Action,Fantasy,Horror',
 'Comedy,Music,Romance',
 'Comedy,Drama,Romance',
 'Adventure,Animation,Comedy',
 'Comedy',
 'Comedy',
 'Horror',
 'Drama,Romance',
 'Action,Crime,Drama',
 'Comedy,Romance',
 'Comedy,Romance',
 'Horror,Mystery,Thriller',
 'Comedy,Drama,Romance',
 'Action,Comedy,Crime',
 'Crime,Drama,Thriller',
 'Action,Adventure,Drama',
 'Drama,History',
 'Horror,Mystery,Thriller',
 'Comedy,Family',
 'Comedy,Music,Romance',
 'Action,Comedy,Sport',
 'Drama,Romance',
 'Adventure,Comedy,Drama',
 'Comedy,Drama,Family',
 'Comedy,Family',
 'Action,Adventure,Drama',
 'Action,Crime,Drama',
 'Action,Sci-Fi,Thriller',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Adventure,Fantasy',
 'Action,Adventure,Sci-Fi',
 'Action,Crime,Thriller',
 'Adventure,Animation,Comedy',
 'Drama,Sci-Fi,Thriller',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Fantasy',
 'Action,Adventure,Animation',
 'Action,Adventure,Horror',
 'Adventure,Family,Fantasy',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Biography,Crime,Drama',
 'Action,Adventure,Sci-Fi',
 'Adventure,Comedy,Crime',
 'Drama,Romance',
 'Crime,Mystery,Thriller',
 'Adventure,Animation,Comedy',
 'Horror,Mystery,Thriller',
 'Action,Thriller',
 'Action,Adventure,Sci-Fi',
 'Action,Drama,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Adventure,Animation,Comedy',
 'Comedy,Crime',
 'Adventure,Animation,Family',
 'Action,Adventure,Western',
 'Crime,Drama',
 'Comedy',
 'Action,Adventure,Drama',
 'Adventure,Animation,Comedy',
 'Action,Comedy,Crime',
 'Action,Fantasy,Horror',
 'Biography,Drama,Thriller',
 'Action,Drama,Thriller',
 'Adventure,Family,Fantasy',
 'Adventure,Fantasy',
 'Adventure,Comedy,Drama',
 'Biography,Drama,History',
 'Biography,Drama',
 'Adventure,Comedy,Crime',
 'Comedy',
 'Action,Thriller',
 'Horror,Mystery,Thriller',
 'Action,Biography,Drama',
 'Action,Adventure,Drama',
 'Action,Comedy,Crime',
 'Horror,Thriller',
 'Action,Crime,Mystery',
 'Comedy,Drama',
 'Action,Comedy,Crime',
 'Comedy,Fantasy',
 'Action,Adventure,Fantasy',
 'Crime,Drama,Mystery',
 'Biography,Comedy,Drama',
 'Comedy,Horror,Romance',
 'Comedy,Drama',
 'Adventure,Animation,Comedy',
 'Action,Crime,Drama',
 'Biography,Comedy,Drama',
 'Comedy,Drama',
 'Action,Adventure,Sci-Fi',
 'Drama,Romance,Thriller',
 'Fantasy,Horror,Thriller',
 'Drama',
 'Action,Fantasy,Horror',
 'Comedy',
 'Action,Biography,Drama',
 'Horror,Thriller',
 'Action,Thriller',
 'Comedy,Drama,Fantasy',
 'Action,Comedy,Crime',
 'Drama,Horror',
 'Drama,Romance',
 'Drama,War',
 'Adventure,Animation,Comedy',
 'Comedy,Drama',
 'Action,Adventure,Drama',
 'Crime,Drama,Thriller',
 'Crime,Drama,Horror',
 'Documentary',
 'Action,Biography,Drama',
 'Comedy,Fantasy',
 'Drama,History',
 'Action,Thriller',
 'Action,Drama,Thriller',
 'Action,Adventure,Sci-Fi',
 'Adventure,Fantasy',
 'Action,Adventure,Comedy',
 'Action,Adventure,Family',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Drama',
 'Action,Adventure,Sci-Fi',
 'Adventure,Drama,Sci-Fi',
 'Action,Adventure,Animation',
 'Action,Adventure,Animation',
 'Action,Biography,Drama',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Comedy',
 'Action,Adventure,Animation',
 'Action,Sci-Fi,Thriller',
 'Adventure,Animation,Comedy',
 'Action,Sci-Fi',
 'Drama,Mystery,Thriller',
 'Adventure,Comedy,Family',
 'Action,Adventure,Drama',
 'Action,Mystery,Sci-Fi',
 'Action,Fantasy,War',
 'Action,Comedy,Crime',
 'Drama,Romance',
 'Action,Adventure,Mystery',
 'Adventure,Animation,Comedy',
 'Comedy',
 'Action,Adventure,Drama',
 'Horror,Mystery,Thriller',
 'Action,Adventure,Fantasy',
 'Comedy',
 'Action,Crime,Sci-Fi',
 'Biography,Drama,Thriller',
 'Action,Mystery,Thriller',
 'Action,Drama,Fantasy',
 'Action,Adventure,Thriller',
 'Adventure,Comedy,Drama',
 'Action,Drama,War',
 'Drama',
 'Action,Crime,Thriller',
 'Comedy,Romance',
 'Action,Crime,Thriller',
 'Comedy,Drama,Romance',
 'Adventure,Comedy,Crime',
 'Adventure,Comedy',
 'Biography,Drama,Sport',
 'Action,Adventure,Drama',
 'Comedy,Drama,History',
 'Action,Comedy,Crime',
 'Adventure,Animation,Comedy',
 'Comedy,Crime',
 'Action,Drama,Thriller',
 'Comedy,Drama,Family',
 'Comedy,Romance',
 'Comedy,Romance',
 'Biography,Drama,Romance',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Drama',
 'Action,Horror,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Comedy,Crime',
 'Horror,Mystery,Thriller',
 'Action,Drama,Sci-Fi',
 'Comedy,Family',
 'Biography,Drama,Family',
 'Comedy,Romance',
 'Comedy,Drama,Fantasy',
 'Adventure,Animation,Comedy',
 'Horror,Mystery,Thriller',
 'Comedy,Drama',
 'Action,Crime,Thriller',
 'Horror,Mystery,Thriller',
 'Comedy,Western',
 'Drama,Music,Romance',
 'Crime,Drama',
 'Adventure,Comedy,Crime',
 'Drama,Fantasy,Music',
 'Action,Fantasy,Horror',
 'Comedy,Romance',
 'Action,Crime',
 'Biography,Drama,History',
 'Biography,Drama,Music',
 'Drama,Romance,Sci-Fi',
 'Biography,Drama,History',
 'Drama',
 'Drama,Family',
 'Comedy,Drama',
 'Action,Crime,Drama',
 'Comedy,Romance',
 'Action,Adventure,Sci-Fi',
 'Action,Crime,Thriller',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Thriller',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Thriller',
 'Action,Adventure,Sci-Fi',
 'Adventure,Drama,Sci-Fi',
 'Drama,Romance,Thriller',
 'Drama,Family,Fantasy',
 'Fantasy',
 'Action,Adventure,Biography',
 'Action,Adventure,Comedy',
 'Animation,Comedy,Family',
 'Action,Adventure,Drama',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Documentary',
 'Drama',
 'Documentary',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Adventure,Animation,Comedy',
 'Action,Sci-Fi,Thriller',
 'Comedy,Music',
 'Action,Adventure,Comedy',
 'Adventure,Animation,Comedy',
 'Action,Comedy,Sci-Fi',
 'Comedy',
 'Action,Comedy,Crime',
 'Adventure,Animation,Comedy',
 'Comedy',
 'Comedy',
 'Action,Adventure,Family',
 'Action,Adventure,Biography',
 'Biography,Drama,History',
 'Comedy,Drama',
 'Action,Adventure,Sci-Fi',
 'Drama,Sport',
 'Action,Adventure,Drama',
 'Drama,History,Thriller',
 'Comedy,Crime,Drama',
 'Crime,Drama,Mystery',
 'Adventure,Comedy,Family',
 'Action,Adventure,Fantasy',
 'Comedy,Drama,Romance',
 'Action,Drama',
 'Action,Crime,Sport',
 'Biography,Comedy,Drama',
 'Adventure,Comedy,Family',
 'Adventure,Drama',
 'Comedy,Drama,Music',
 'Action,Adventure,Drama',
 'Horror,Mystery,Thriller',
 'Comedy,Crime',
 'Action,Adventure,Comedy',
 'Action,Comedy,Crime',
 'Adventure,Animation,Comedy',
 'Comedy',
 'Biography,Documentary,Music',
 'Adventure,Comedy',
 'Action,Crime,Drama',
 'Drama',
 'Biography,Crime,Drama',
 'Horror,Mystery,Thriller',
 'Crime,Drama',
 'Drama',
 'Horror,Thriller',
 'Action,Adventure,Biography',
 'Drama,Sport',
 'Comedy,Drama',
 'Comedy,Drama,Mystery',
 'Action,Crime,Drama',
 'Action,Adventure,Crime',
 'Comedy',
 'Horror,Mystery,Thriller',
 'Action,Adventure,Crime',
 'Drama',
 'Drama,Fantasy,Romance',
 'Biography,Drama,Romance',
 'Action,Adventure,Animation',
 'Comedy,Fantasy,Horror',
 'Crime,Thriller',
 'Adventure,Biography,Drama',
 'Crime,Drama,Horror',
 'Drama,Mystery,Thriller',
 'Adventure,Comedy,Fantasy',
 'Documentary',
 'Adventure,Biography,Drama',
 'Biography,Drama,Sport',
 'Adventure,Drama,Family',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Adventure,Animation,Comedy',
 'Adventure,Drama,Family',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Fantasy',
 'Adventure,Family,Fantasy',
 'Action,Adventure,Comedy',
 'Action,Adventure,Fantasy',
 'Action,Adventure,Fantasy',
 'Adventure,Animation,Comedy',
 'Animation,Comedy,Family',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Animation',
 'Comedy,Drama,Music',
 'Action,Adventure,Fantasy',
 'Action,Thriller',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Drama',
 'Action,Animation,Comedy',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Comedy',
 'Drama,Horror,Mystery',
 'Drama,Romance,Sci-Fi',
 'Action,Biography,Drama',
 'Adventure,Family,Fantasy',
 'Adventure,Drama,Fantasy',
 'Action,Adventure,Comedy',
 'Action,Adventure,Sci-Fi',
 'Biography,Drama',
 'Biography,Drama,History',
 'Action,Comedy,Fantasy',
 'Action,Adventure,Crime',
 'Action,Comedy,Crime',
 'Comedy,Drama,Romance',
 'Drama,Romance',
 'Action,Thriller',
 'Drama,Mystery,Sci-Fi',
 'Comedy',
 'Adventure,Animation,Comedy',
 'Adventure,Family,Fantasy',
 'Biography,Drama,History',
 'Crime,Drama,Mystery',
 'Action,Adventure,Crime',
 'Action,Adventure,Drama',
 'Action,Adventure,Western',
 'Action,Thriller',
 'Crime,Horror,Thriller',
 'Action,Crime,Drama',
 'Action,Adventure,Fantasy',
 'Drama,Horror,Mystery',
 'Documentary',
 'Action,Adventure,Comedy',
 'Adventure,Animation,Comedy',
 'Biography,Drama',
 'Action,Adventure,Thriller',
 'Action,Comedy,Crime',
 'Action,Drama,History',
 'Action,Drama,Romance',
 'Drama,Horror,Thriller',
 'Action,Horror,Sci-Fi',
 'Comedy',
 'Comedy',
 'Comedy,Drama,Romance',
 'Drama,Horror,Mystery',
 'Action,Adventure,Drama',
 'Comedy',
 'Comedy',
 'Action,Adventure,Drama',
 'Crime,Drama,Thriller',
 'Comedy,Romance',
 'Drama,Romance',
 'Action,Horror,Thriller',
 'Action,Drama,Sport',
 'Comedy,Crime,Drama',
 'Drama',
 'Comedy',
 'Action,Adventure,Drama',
 'Adventure,Comedy,Romance',
 'Comedy,Drama,Horror',
 'Biography,Drama,Family',
 'Comedy,Drama',
 'Action,Adventure,Animation',
 'Drama',
 'Animation,Fantasy',
 'Comedy,Drama',
 'Action,Crime',
 'Comedy,Drama',
 'Action,Adventure,Fantasy',
 'Family,Fantasy,Musical',
 'Action,Crime,Thriller',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Comedy',
 'Action,Adventure,Sci-Fi',
 'Action,Drama,Thriller',
 'Action,Adventure,Comedy',
 'Action,Adventure,Comedy',
 'Action,Adventure,Fantasy',
 'Adventure,Animation,Comedy',
 'Horror',
 'Action,Adventure,Fantasy',
 'Horror,Thriller',
 'Action,Adventure,Fantasy',
 'Action,Drama,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Fantasy',
 'Adventure,Animation,Comedy',
 'Action,Drama,History',
 'Action,Adventure,Drama',
 'Biography,Drama,Musical',
 'Action,Adventure,Comedy',
 'Action,Adventure,Fantasy',
 'Adventure,Animation,Comedy',
 'Drama,Romance',
 'Crime,Drama,Mystery',
 'Documentary',
 'Action,Animation,Comedy',
 'Horror,Mystery,Thriller',
 'Drama,Family',
 'Adventure,Animation,Comedy',
 'Drama,Mystery,Sci-Fi',
 'Horror,Mystery,Thriller',
 'Action,Adventure,Comedy',
 'Action,Drama',
 'Adventure,Comedy,Fantasy',
 'Horror,Sci-Fi,Thriller',
 'Action,Crime,Drama',
 'Action,Adventure,Fantasy',
 'Action,Sci-Fi,Thriller',
 'Adventure,Animation,Comedy',
 'Adventure,Comedy,Drama',
 'Adventure,Animation,Comedy',
 'Adventure,Drama,Fantasy',
 'Comedy,Music',
 'Biography,Drama,History',
 'Action,Comedy,Crime',
 'Action,Comedy,Thriller',
 'Action,Drama,Sci-Fi',
 'Crime,Drama',
 'Comedy,Drama,Fantasy',
 'Biography,Drama,History',
 'Action,Adventure,Drama',
 'Action,Thriller',
 'Action,Adventure,Sci-Fi',
 'Comedy,Drama',
 'Action,Biography,Comedy',
 'Adventure,Comedy',
 'Action,Animation,Comedy',
 'Horror,Mystery,Thriller',
 'Action,Adventure,Animation',
 'Drama,Music',
 'Action,Adventure,Fantasy',
 'Action,Comedy',
 'Crime,Horror,Mystery',
 'Horror,Sci-Fi,Thriller',
 'Action,Mystery,Thriller',
 'Drama,Fantasy',
 'Action,Adventure,Thriller',
 'Comedy,Crime',
 'Drama,Horror,Mystery',
 'Action,Drama,History',
 'Comedy,Drama',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Comedy',
 'Comedy,Drama,Romance',
 'Action',
 'Biography,Drama,Music',
 'Adventure,Drama,Horror',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Animation',
 'Action,Adventure,Fantasy',
 'Biography,Drama,Music',
 'Action,Sci-Fi,Thriller',
 'Action,Adventure,Thriller',
 'Action,Adventure,Comedy',
 'Adventure,Family,Fantasy',
 'Action,Adventure,Comedy',
 'Action,Adventure,Sci-Fi',
 'Action,Drama,Thriller',
 'Action,Comedy,Mystery',
 'Action,Horror,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Sci-Fi',
 'Drama,Music,Romance',
 'Action,Adventure,Sci-Fi',
 'Comedy,Musical,Romance',
 'Action,Adventure,Fantasy',
 'Action,Adventure,Animation',
 'Drama,Romance,Thriller',
 'Horror,Mystery,Thriller',
 'Adventure,Comedy,Sci-Fi',
 'Adventure,Animation,Comedy',
 'Comedy,Family,Fantasy',
 'Drama,Horror,Sci-Fi',
 'Biography,Comedy,Drama',
 'Action,Adventure,Thriller',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Fantasy',
 'Horror,Thriller',
 'Comedy,Romance',
 'Adventure,Animation,Comedy',
 'Drama,Sport',
 'Action,Crime,Thriller',
 'Adventure,Family,Fantasy',
 'Crime,Drama,Thriller',
 'Horror,Mystery,Thriller',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Comedy',
 'Action,Drama,Thriller',
 'Action,Horror,Sci-Fi',
 'Adventure,Family,Fantasy',
 'Comedy,Fantasy,Horror',
 'Comedy,Drama',
 'Action,Mystery,Thriller',
 'Action,Comedy,Crime',
 'Action,Adventure,Fantasy',
 'Biography,Drama,History',
 'Comedy',
 'Adventure,Drama,Family',
 'Comedy,Crime,Drama',
 'Biography,Drama,History',
 'Horror,Thriller',
 'Comedy,Drama,Romance',
 'Comedy,Romance',
 'Comedy',
 'Adventure,Comedy,Family',
 'Biography,Crime,Drama',
 'Comedy,Romance',
 'Adventure,Animation,Comedy',
 'Action,Adventure,Thriller',
 nan,
 'Action,Adventure,Fantasy',
 'Romance',
 'Action,Crime,Drama',
 'Drama,Horror,Mystery',
 'Comedy',
 'Biography,Comedy,Drama',
 'Crime,Drama,Thriller',
 'Action,Crime,Drama',
 'Drama,Mystery,Thriller',
 'Biography,Drama',
 'Comedy,Drama,Romance',
 'Action,Drama,History',
 'Comedy,Drama,Romance',
 'Comedy',
 'Action,Crime,Drama',
 'Comedy,Sport']

In [68]:
imbd_crews.head()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [69]:
imbd_principals.head()

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

In [70]:
imbd_principals = imbd_principals.drop(columns = ['ordering', 'job', 'characters'])

In [71]:
imbd_merge = pd.merge(imbd_name, imbd_principals, on = ['nconst'], how = "outer")

In [72]:
imbd_director = imbd_merge.rename(columns = {'nconst': 'directors', 'primary_name': 'director_name'})

In [73]:
imbd_director = imbd_director.drop(columns = 'category')

In [75]:
imbd_crews.head()

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

In [76]:
imbd_director.head()

   directors      director_name     tconst
0  nm0061671  Mary Ellen Bauder  tt2398241
1  nm0061865       Joseph Bauer  tt0433397
2  nm0061865       Joseph Bauer  tt1681372
3  nm0061865       Joseph Bauer  tt2387710
4  nm0061865       Joseph Bauer  tt2281215

In [77]:
imbd_crews = pd.merge(imbd_crews, imbd_director, on = ['directors', 'tconst'])

In [81]:
imbd_crews.head()

      tconst  directors              writers      director_name
0  tt0285252  nm0899854            nm0899854        Tony Vitale
1  tt0462036  nm1940585            nm1940585         Bill Haley
2  tt0835418  nm0151540  nm0310087,nm0841532  Jay Chandrasekhar
3  tt0879859  nm2416460                  NaN    Eric Manchester
4  tt0996958  nm2286991  nm2286991,nm2651190      Tara Cardinal

In [83]:
imbd_directors = imbd_crews.drop(columns = "writers")

In [86]:
imbd_directors.head()

      tconst  directors      director_name
0  tt0285252  nm0899854        Tony Vitale
1  tt0462036  nm1940585         Bill Haley
2  tt0835418  nm0151540  Jay Chandrasekhar
3  tt0879859  nm2416460    Eric Manchester
4  tt0996958  nm2286991      Tara Cardinal

In [88]:
imbd_basics = pd.merge(imbd_basics, imbd_directors, on = 'tconst')

In [119]:
imbd_basics.loc[imbd_basics.title.str.contains("me")].title.unique()

array([' promise of perfume', 'american pastoral', 'gnomeo  juliet', ...,
       ' good americans one revolution two nations',
       'wien is t hof van commerce', 'vida em movimento'], dtype=object)

In [95]:
imbd_bom = pd.merge(bom_20, imbd_basics, on = ['title', 'year'], how = 'left')

In [110]:
imbd_bom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 861 entries, 0 to 860
Data columns (total 9 columns):
title             861 non-null object
studio            860 non-null object
domestic_gross    861 non-null float64
foreign_gross     861 non-null float32
year              861 non-null object
tconst            700 non-null object
genres            700 non-null object
directors         700 non-null object
director_name     700 non-null object
dtypes: float32(1), float64(1), object(7)
memory usage: 63.9+ KB

In [112]:
imbd_bom.loc[imbd_bom.director_name.isna() == True]

,title,studio,domestic_gross,foreign_gross,year,tconst,genres,directors,director_name
8,tangled,BV,200800000.00,391000000.00,2010,NaN,NaN,NaN,NaN
9,despicable me,Uni.,251500000.00,291600000.00,2010,NaN,NaN,NaN,NaN
10,how to train your dragon,P/DW,217600000.00,277300000.00,2010,NaN,NaN,NaN,NaN
30,true grit,Par.,171200000.00,81000000.00,2010,NaN,NaN,NaN,NaN
46,book of eli,WB,94800000.00,62300000.00,2010,NaN,NaN,NaN,NaN
52,saw 3d,LGF,45700000.00,90400000.00,2010,NaN,NaN,NaN,NaN
62,girl with dragon tattoo,MBox,10100000.00,94300000.00,2010,NaN,NaN,NaN,NaN
64,aftershock tangshan dadizhen,CL,63000.00,100200000.00,2010,NaN,NaN,NaN,NaN
76,oceans,BV,19400000.00,63200000.00,2010,NaN,NaN,NaN,NaN
79,if you are one 2 fei cheng wu rao ii,CL,427000.00,75600000.00,2010,NaN,NaN,NaN,NaN
82,hubble 3d,WB,52400000.00,21500000.00,2010,NaN,NaN,NaN,NaN
84,tales from earthsea,BV,48500.00,68600000.00,2010,NaN,NaN,NaN,NaN
87,girl who played with fire,MBox,7600000.00,59500000.00,2010,NaN,NaN,NaN,NaN
89,tyler perrys why did i get married too,LGF,60100000.00,578000.00,2010,NaN,NaN,NaN,NaN
96,twilight saga breaking dawn part 1,Sum.,281300000.00,430900000.00,2011,NaN,NaN,NaN,NaN
102,cars 2,BV,191500000.00,370700000.00,2011,NaN,NaN,NaN,NaN
125,paranormal activity 3,Par.,104000000.00,103000000.00,2011,NaN,NaN,NaN,NaN
129,lion king in 3d,BV,94200000.00,91300000.00,2011,NaN,NaN,NaN,NaN
142,happy feet two,WB,64000000.00,86400000.00,2011,NaN,NaN,NaN,NaN
147,arthur christmas,Sony,46500000.00,101000000.00,2011,NaN,NaN,NaN,NaN
149,crazy stupid love,WB,84400000.00,58500000.00,2011,NaN,NaN,NaN,NaN
165,insidious,FD,54000000.00,43000000.00,2011,NaN,NaN,NaN,NaN
171,hall pass,WB (NL),45100000.00,38100000.00,2011,NaN,NaN,NaN,NaN
182,elite squad enemy within,Vari.,100000.00,62900000.00,2011,NaN,NaN,NaN,NaN
183,beginning of great revival,CL,151000.00,58200000.00,2011,NaN,NaN,NaN,NaN
184,tyler perrys madeas big happy family,LGF,53300000.00,816000.00,2011,NaN,NaN,NaN,NaN
185,detective dee mystery of phantom flame,IM,460000.00,51300000.00,2011,NaN,NaN,NaN,NaN
187,marvels avengers,BV,623400000.00,895500032.00,2012,NaN,NaN,NaN,NaN
191,ice age continental drift,Fox,161300000.00,715900032.00,2012,NaN,NaN,NaN,NaN
192,twilight saga breaking dawn part 2,LG/S,292300000.00,537400000.00,2012,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
687,despicable me 3,Uni.,264600000.00,770200000.00,2017,NaN,NaN,NaN,NaN
695,pirates of caribbean dead men tell no tales,BV,172600000.00,622300032.00,2017,NaN,NaN,NaN,NaN
709,your name,FUN,5000000.00,353000000.00,2017,NaN,NaN,NaN,NaN
711,xxx return of xer cage,Par.,44900000.00,301200000.00,2017,NaN,NaN,NaN,NaN
713,resident evil final chapter,SGem,26800000.00,285400000.00,2017,NaN,NaN,NaN,NaN
718,split,Uni.,138300000.00,140200000.00,2017,NaN,NaN,NaN,NaN
733,daddys home 2,Par.,104000000.00,76600000.00,2017,NaN,NaN,NaN,NaN
737,john wick chapter two,LG/S,92000000.00,79500000.00,2017,NaN,NaN,NaN,NaN
747,a bad moms christmas,STX,72100000.00,58400000.00,2017,NaN,NaN,NaN,NaN
750,lego ninjago movie,WB,59300000.00,63800000.00,2017,NaN,NaN,NaN,NaN
754,leap,Wein.,21900000.00,81400000.00,2017,NaN,NaN,NaN,NaN
755,jigsaw,LGF,38100000.00,64900000.00,2017,NaN,NaN,NaN,NaN
756,railroad tigers,WGUSA,218000.00,102000000.00,2017,NaN,NaN,NaN,NaN
760,some like it hot qing shung,CL,100000.00,95600000.00,2017,NaN,NaN,NaN,NaN
765,underworld blood wars,SGem,30400000.00,50700000.00,2017,NaN,NaN,NaN,NaN
767,one piece film gold,FUN,424000.00,65800000.00,2017,NaN,NaN,NaN,NaN
772,tyler perrys boo 2 a madea halloween,LGF,47300000.00,1000000.00,2017,NaN,NaN,NaN,NaN
775,avengers infinity war,BV,678800000.00,18900000.00,2018,NaN,NaN,NaN,NaN
790,ralph breaks internet,BV,201100000.00,328100000.00,2018,NaN,NaN,NaN,NaN
792,dr seuss grinch,Uni.,270600000.00,241000000.00,2018,NaN,NaN,NaN,NaN
798,spiderman into spiderverse,Sony,190200000.00,185300000.00,2018,NaN,NaN,NaN,NaN
807,oceans 8,WB,140200000.00,157500000.00,2018,NaN,NaN,NaN,NaN
809,maze runner death cure,Fox,58000000.00,230200000.00,2018,NaN,NaN,NaN,NaN
813,paddington 2,WB,40900000.00,186400000.00,2018,NaN,NaN,NaN,NaN
814,smallfoot,WB,83200000.00,130900000.00,2018,NaN,NaN,NaN,NaN
816,disneys christopher robin,BV,99200000.00,98500000.00,2018,NaN,NaN,NaN,NaN
818,nutcracker four realms,BV,54900000.00,119100000.00,2018,NaN,NaN,NaN,NaN
829,game night,WB (NL),69200000.00,48500000.00,2018,NaN,NaN,NaN,NaN
837,i feel pretty,STX,48800000.00,45700000.00,2018,NaN,NaN,NaN,NaN
860,tyler perrys acrimony,LGF,43500000.00,2900000.00,2018,NaN,NaN,NaN,NaN

In [120]:
list_dup = list(imbd_bom.loc[imbd_bom.title.duplicated() == True].title.unique())

TypeError: 'list' object is not callable

In [103]:
imbd_bom.loc[imbd_bom.title.isin(list) == True]

,title,studio,domestic_gross,foreign_gross,year,tconst,genres,directors,director_name
1,alice in wonderl,BV,334200000.00,691299968.00,2010,tt1014759,"Adventure,Family,Fantasy",nm0000318,Tim Burton
2,alice in wonderl,BV,334200000.00,691299968.00,2010,tt2049386,"Fantasy,Musical",nm0288188,James Fotopoulos
19,robin hood,Uni.,105300000.00,216400000.00,2010,tt0955308,"Action,Adventure,Drama",nm0000631,Ridley Scott
62,girl with dragon tattoo,MBox,10100000.00,94300000.00,2010,NaN,NaN,NaN,NaN
70,burlesque,SGem,39400000.00,50100000.00,2010,tt1126591,"Drama,Music,Musical",nm0031078,Steve Antin
71,burlesque,SGem,39400000.00,50100000.00,2010,tt1586713,Drama,nm3313266,Dominic Deacon
116,girl with dragon tattoo,Sony,102500000.00,130100000.00,2011,tt1568346,"Crime,Drama,Mystery",nm0000399,David Fincher
152,artist,Wein.,44700000.00,88800000.00,2011,tt1655442,"Comedy,Drama,Romance",nm0371890,Michel Hazanavicius
153,artist,Wein.,44700000.00,88800000.00,2011,tt1825978,Thriller,nm3908851,Sunil Prem Vyas
172,abduction,LGF,28100000.00,54000000.00,2011,tt1600195,"Action,Mystery,Thriller",nm0005436,John Singleton
173,abduction,LGF,28100000.00,54000000.00,2011,tt2447982,"Horror,Thriller",nm5303254,Michael Atwill
371,call,TriS,51900000.00,16700000.00,2013,tt1911644,"Crime,Drama,Horror",nm0026442,Brad Anderson
372,call,TriS,51900000.00,16700000.00,2013,tt2926868,Documentary,nm4991030,Reber Dosky
491,cinderella,BV,201200000.00,342400000.00,2015,tt1661199,"Drama,Family,Fantasy",nm0000110,Kenneth Branagh
492,cinderella,BV,201200000.00,342400000.00,2015,tt5089556,Fantasy,nm7633075,Kiran Nakti
499,home,Fox,177400000.00,208600000.00,2015,tt2224026,"Adventure,Animation,Comedy",nm0426333,Tim Johnson
500,home,Fox,177400000.00,208600000.00,2015,tt5121236,Documentary,nm7658899,Ryan Lee
501,home,Fox,177400000.00,208600000.00,2015,tt5775862,Drama,nm7874205,Ben Ducker
502,home,Fox,177400000.00,208600000.00,2015,tt5884960,Documentary,nm7057993,Asaf Lavi Harel
547,sisters,Uni.,87000000.00,18000000.00,2015,tt1850457,Comedy,nm0601337,Jason Moore
548,sisters,Uni.,87000000.00,18000000.00,2015,tt4793074,"Biography,Documentary,Music",nm3012888,Andrew Smith
555,spotlight,ORF,45100000.00,53200000.00,2015,tt1895587,"Crime,Drama",nm0565336,Tom McCarthy
556,spotlight,ORF,45100000.00,53200000.00,2015,tt7785302,Drama,nm8971368,Sunkanmi Adebayo
572,walk,TriS,10100000.00,51000000.00,2015,tt2159988,"Crime,Thriller",nm2228615,Timothy Fielding
573,walk,TriS,10100000.00,51000000.00,2015,tt3488710,"Adventure,Biography,Drama",nm0000709,Robert Zemeckis
641,lights out,WB (NL),67300000.00,81600000.00,2016,tt4786282,"Drama,Horror,Mystery",nm2497546,David F. Sandberg
642,lights out,WB (NL),67300000.00,81600000.00,2016,tt5328340,Documentary,nm7839341,Jose G. Ramos
843,robin hood,LG/S,30800000.00,54000000.00,2018,tt4532826,"Action,Adventure,Thriller",nm1163264,Otto Bathurst

In [107]:
original_list = ['David F. Sandberg', 'Robert Zemeckis', 'Tom McCarthy', 'Jason Moore', 'Tim Johnson', 
               'Kenneth Branagh', 'Brad Anderson', 'John Singleton', 'Michel Hazanavicius', 'David Fincher',
              'Steve Antin', 'Ridley Scott', 'Tim Burton']

In [108]:
imbd_bom.loc[(imbd_bom.director_name.isin(original_list) == True)]

,title,studio,domestic_gross,foreign_gross,year,tconst,genres,directors,director_name
1,alice in wonderl,BV,334200000.00,691299968.00,2010,tt1014759,"Adventure,Family,Fantasy",nm0000318,Tim Burton
19,robin hood,Uni.,105300000.00,216400000.00,2010,tt0955308,"Action,Adventure,Drama",nm0000631,Ridley Scott
33,social network,Sony,97000000.00,128000000.00,2010,tt1285016,"Biography,Drama",nm0000399,David Fincher
70,burlesque,SGem,39400000.00,50100000.00,2010,tt1126591,"Drama,Music,Musical",nm0031078,Steve Antin
107,thor,Par.,181000000.00,268300000.00,2011,tt0800369,"Action,Adventure,Fantasy",nm0000110,Kenneth Branagh
116,girl with dragon tattoo,Sony,102500000.00,130100000.00,2011,tt1568346,"Crime,Drama,Mystery",nm0000399,David Fincher
152,artist,Wein.,44700000.00,88800000.00,2011,tt1655442,"Comedy,Drama,Romance",nm0371890,Michel Hazanavicius
172,abduction,LGF,28100000.00,54000000.00,2011,tt1600195,"Action,Mystery,Thriller",nm0005436,John Singleton
204,promeus,Fox,126500000.00,276900000.00,2012,tt1446714,"Adventure,Mystery,Sci-Fi",nm0000631,Ridley Scott
218,dark shadows,WB,79700000.00,165800000.00,2012,tt1077368,"Comedy,Fantasy,Horror",nm0000318,Tim Burton
233,flight,Par.,93800000.00,68000000.00,2012,tt1907668,"Drama,Thriller",nm0000709,Robert Zemeckis
248,pitch perfect,Uni.,65000000.00,50300000.00,2012,tt1981677,"Comedy,Music,Romance",nm0601337,Jason Moore
370,counselor,Fox,17000000.00,54000000.00,2013,tt2193215,"Crime,Drama,Thriller",nm0000631,Ridley Scott
371,call,TriS,51900000.00,16700000.00,2013,tt1911644,"Crime,Drama,Horror",nm0026442,Brad Anderson
401,gone girl,Fox,167800000.00,201600000.00,2014,tt2267998,"Drama,Mystery,Thriller",nm0000399,David Fincher
411,exodus gods kings,Fox,65000000.00,203200000.00,2014,tt1528100,"Action,Adventure,Drama",nm0000631,Ridley Scott
434,jack ryan shadow recruit,Par.,50600000.00,84900000.00,2014,tt1205537,"Action,Drama,Thriller",nm0000110,Kenneth Branagh
489,martian,Fox,228400000.00,401700000.00,2015,tt3659388,"Adventure,Drama,Sci-Fi",nm0000631,Ridley Scott
491,cinderella,BV,201200000.00,342400000.00,2015,tt1661199,"Drama,Family,Fantasy",nm0000110,Kenneth Branagh
499,home,Fox,177400000.00,208600000.00,2015,tt2224026,"Adventure,Animation,Comedy",nm0426333,Tim Johnson
547,sisters,Uni.,87000000.00,18000000.00,2015,tt1850457,Comedy,nm0601337,Jason Moore
555,spotlight,ORF,45100000.00,53200000.00,2015,tt1895587,"Crime,Drama",nm0565336,Tom McCarthy
573,walk,TriS,10100000.00,51000000.00,2015,tt3488710,"Adventure,Biography,Drama",nm0000709,Robert Zemeckis
614,miss peregrines home for peculiar children,Fox,87200000.00,209200000.00,2016,tt1935859,"Adventure,Drama,Fantasy",nm0000318,Tim Burton
641,lights out,WB (NL),67300000.00,81600000.00,2016,tt4786282,"Drama,Horror,Mystery",nm2497546,David F. Sandberg
650,allied,Par.,40100000.00,79400000.00,2016,tt3640424,"Action,Drama,Romance",nm0000709,Robert Zemeckis
710,murder on orient express,Fox,102800000.00,250000000.00,2017,tt3402236,"Crime,Drama,Mystery",nm0000110,Kenneth Branagh
715,annabelle creation,WB (NL),102100000.00,204400000.00,2017,tt5140878,"Horror,Mystery,Thriller",nm2497546,David F. Sandberg
724,alien covenant,Fox,74300000.00,166600000.00,2017,tt2316204,"Horror,Sci-Fi,Thriller",nm0000631,Ridley Scott